<div th:fragment="navbar">
    <nav class="bg-main-800 shadow">
        <div
                class="container flex items-center justify-center p-6 mx-auto text-main-400 capitalize text-sm"
        >
            <a
                    th:href="@{/movies}"
                    class="border-b-2 hover:text-main-100 transition-colors duration-300 transform hover:border-main-50 mx-1.5 sm:mx-6"
            >
                Home
            </a>
            <a
                    th:ref="@{/movies/create}"
                    class="border-b-2 hover:text-main-100 transition-colors duration-300 transform hover:border-main-50 mx-1.5 sm:mx-6"
            >
                Registrar
            </a>

            <a
                    th:href="@{/users}"
                    class="border-b-2 border-transparent hover:text-main-100 transition-colors duration-300 transform hover:border-main-50 mx-1.5 sm:mx-6"
            >
                Admin
            </a>

            <a
                    href="#"
                    class="border-b-2 border-transparent hover:text-main-100 transition-colors duration-300 transform hover:border-main-50 mx-1.5 sm:mx-6"
            >
                blog
            </a>

            <a
                    href="#"
                    class="border-b-2 border-transparent hover:text-main-100 transition-colors duration-300 transform hover:border-main-50 mx-1.5 sm:mx-6"
            >
                <form th:action="@{/logout}" method="post" class="inline">
                    <button type="submit">Cerrar Sesión</button>
                </form>
            </a>
        </div>
    </nav>
</div>
