<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
        @theme {
  --color-main-50: #f0f4f2;
  --color-main-100: #e2e9e6;
  --color-main-200: #c5d3cc;
  --color-main-300: #a8bdb3;
  --color-main-400: #8ba799;
  --color-main-500: #6e9180;
  --color-main-600: #587466;
  --color-main-700: #42574d;
  --color-main-800: #2c3a33;
  --color-main-900: #161d1a;
  --color-main-950: #0f1412;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="mt-8 mx-auto w-3/4">

    <div
            class="flex overflow-x-auto gap-6 snap-x snap-mandatory my-8 scroll-smooth"
    >
        <div th:each="movie:${movies}" class="shrink-0 snap-start w-60">
            <div class="flex flex-col space-y-2">
                <img
                        th:src="*{movie.imageLink}"
                        class="rounded-xl place-self-center object-cover"
                        height="{300}"
                        width="{400}"
                        alt=""/>
                <a th:href="@{/movies/movie/} + ${movie.id}" th:text="*{movie.title}" class="text-main-950 line-clamp-1 font-semibold text-xl cursor-pointer hover:underline">
                </a>
                <div class="flex justify-between items-center">
                    <p th:text="*{movie.runTime} + ' mins'" class="border border-main-950 px-2 rounded-xl bg-main-100">
                    </p>
                    <p th:text="*{movie.status}"
                       class="bg-main-700 border border-main-100 text-main-100 place-self-end p-2 rounded-xl"
                    ></p>
                </div>
                <p th:text="'Estreno: ' + ${#temporals.format(movie.releaseDate, 'dd MMM yyyy')}"
                   class="text-main-950"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>